*{
    box-sizing: border-box;
}

section.header{
    position: relative;
    width: 100%;
    height: 65px;    
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.header div{
    display: inline;
    float: left;
}

div#headerLogo{
    width: 300px;
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

div.userDiv{
    position: absolute;
    width: 130px;
    height: 100%;
    right: 0;
}

div.smmi{
    width: 210px;
    height: 100%;
    text-align: center;
    padding-top: 5%;
}

img.headerLogo{
    width: auto;
    height: 100%;
    float: left;
    border-radius: 50%;
}

h1{
    float: left;
    width: 60%;
    font-size:xx-large;
    font-weight: bold;
    margin-top: 0;
}

button.userButton{
    width: 100%;
    height: 100%;
    color: #336D5F;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 4em;
    float: right;
}





@media only screen and (max-width: 600px){
    section.header{
        height: 70px;
    }

    div.logo{
        width: 150px;
        margin-left: 10px;
    }

    div.user{
        width: 80px;
    }

    div.smmi{
        width: 85px;
        padding-left: 3%;
        padding-top: 25px;
        float: right;
    }

    h1{
        font-size: large
    }

    img.headerLogo{
        margin-top: 5px;
        width: 60px;
        height: 60px;
    }

    button.userButton{
        font-size: 50px;
    }
}