<section>
    <div class="reportContainer">
        <div class="header">
            <h1>Reporte</h1>
        </div>
        <div class="formContainer">
            <form>
                <div class="inputs">
                    <label for="event">Evento crítico:</label>
                    <input type="text" name="event" id="event" required [(ngModel)]="datos.evento_critico">
                    <label for="actions">Acciones tomadas:</label>
                    <input type="text" name="actions" id="actions" required [(ngModel)]="datos.acciones_tomadas">
                </div>
                <div class="button">
                    <button (click)="updating()"><i class="glyphicon glyphicon-ok-sign"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

