<section>
    <div class="reportContainer">
        <div class="header">
            <h1>Reporte</h1>
        </div>
        <div class="formContainer">
            <form>
                <div class="inputs">
                    <p>Paciente: </p>
                    <p>Hora alarma: </p>
                    <label for="event">Evento crítico:</label>
                    <input type="text" name="event" id="event">
                    <label for="actions">Acciones tomadas:</label>
                    <input type="text" name="actions" id="actions">
                </div>
                <div class="button">
                    <button><i class="glyphicon glyphicon-ok-sign"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

