<section>
    <div class="listContainer">
        <div class="prescriptionContainer" *ngFor="let pres of prescriptionList">
            <div class="title"><h1>Receta médica</h1></div>
            <div class="information">
                <div class="hourDate">
                    <p id="hora">Hora: <span>{{pres.hora}}</span></p>
                    <p id="fecha">Fecha: <span>{{pres.fecha}}</span></p>
                </div>
                <p class="info">Doctor: <span>{{pres.medico}}</span></p>
                <p class="info">Medicamento: <span>{{pres.medicina}}</span></p>
                <p class="info">Indicaciones adicionales: <span>{{pres.instrucciones}}</span></p>
            </div>
        </div>
    </div>
</section>
