*{
    box-sizing: border-box;
}

section{
    overflow: scroll;
    scrollbar-width:auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

div.listContainer{
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.prescriptionContainer{
    width: 35%;
    background-image: url('../../../assets/img/reporte.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: #487541;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.title{
    width: 100%;
    background-color:gold;
    padding-left: 17px;
    padding-bottom: 8px;
    padding-top: 10px;
    border-radius: 9px 9px 0px 0px;
    opacity: 0.8;
}

.information{
    padding: 3% 8% 5% 8%;
    position: relative;
    display: inline-block;
    background-color: rgb(248, 239, 184);  
    border-radius: 0 0 9px 9px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: darkgreen;
}

h1{
    margin: 0;
    font-size: x-large;
}

p{
    display: inline-block;
    font-size: small;
}

div.hourDate{
    width: 100%;
}

p.info{
    display: block;
}

#fecha{
    width: 70%;
    font-size: smaller;
}

#hora{
    width: 30%;
    font-size: smaller;
}


@media only screen and (min-width: 600px){
    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px){
    div.prescriptionContainer{
        width: 80%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        font-size:small;
    }
}