<section>
    <div class="listContainer" *ngIf="!blankspace; else blank">
        <div class="prescriptionContainer" *ngFor="let pres of prescriptionList">
            <div class="title"><h1>Receta médica</h1></div>
            <div class="information">
                <div class="hourDate">
                    <p id="hora">Hora: <span>{{pres.hora}}</span></p>
                    <p id="fecha">Fecha: <span>{{pres.fecha}}</span></p>
                </div>
                <p class="info">Doctor: <span>{{pres.medico}}</span></p>
                <p class="info">Medicamento: <span>{{pres.medicina}}</span></p>
                <p class="info">Indicaciones adicionales: <span>{{pres.instrucciones}}</span></p>
            </div>
        </div>
    </div>
    <ng-template #blank class="empty">
        <h2 class="bsTitle">El paciente no tiene recetas preescritas en este momento</h2>
        <img id="cajaVacia" src="assets/icon/caja.png" alt="vacío">
    </ng-template>
</section>
