*{
    box-sizing: border-box;
}

section{
    overflow: scroll;
    scrollbar-width:auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

div.listContainer{
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.prescriptionContainer{
    width: 40%;
    height: 60%;
    background-color: white;
    color: #487541;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    margin-top: 1.5%;
    border-radius: 9px;
    border: 1px solid rgb(216, 216, 216);
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

p{
    display: inline-block;
}

p.date{
    float: right;
    width: 50%;
}

p.hour{
    width: 50%;
}

@media only screen and (min-width: 600px){
    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px){
    div.prescriptionContainer{
        width: 80%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        font-size:small;
        padding-top: 1px;
        padding-left: 15px;
    }
}