*{
    box-sizing: border-box;
}

section {
    overflow: scroll;
    scrollbar-width:auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

div.listContainer{
    justify-content: center;
    align-items: center;
}

div.pacientContainer{
    width: 42%;
    margin: 1%;
    background-color: #487541;
    color: white;
    padding: 1.5% 2% 2% 2%;
    border-radius: 9px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

div.information{
    position: relative;
    display: inline-block;
    width: 65%;
    height: 100%;
}

table{
    width: 100%;
    border-spacing: 10px;
}

@media only screen and (min-width: 600px){
    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px){
    div.pacientContainer{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
        font-size:small;
        padding-top: 1px;
        padding-left: 15px;
    }
    
}