*{
    box-sizing: border-box;
}

section {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

div.loadingState,.blankspace{
    width: 100%;
    height: 100%;
}

div.listContainer{
    justify-content: center;
    align-items: center;
}

div.pacientContainer{
    width: 30%;
    margin: 1%;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 9px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
    padding-top: 0;
}

div.mainInfo{
    width: 100%;
    background-image:url('../../../assets/img/camilla.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 9px;
}

div.alertContainer{
    width: 100%;
}

div.alertIcon{
    float: left;
    width: 30%;
}

.alertButton{
    float: left;
    width: 70%;
}

img#alerta{
    width: 50%;
    margin: 10%;
}

button#off{
    margin-top: 8%;
    font-size: medium;
    color: white;
    border: transparent;
    background-color: rgb(255, 64, 64);
}

div.information{
    padding: 0% 8% 5% 8%;
    position: relative;
    display: inline-block;
    background-color: #C4F2A0;  
    border-radius: 0 0 9px 9px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: darkgreen;
}

div.title{
    width: 100%;
    height: 100%;
    background-color: green;
    padding-top: 25px;
    padding-left: 17px;
    padding-bottom: 8px;
    border-radius: 9px 9px 0px 0px;
    opacity: 0.8;
}

div.sensorList{
    width: 100%;
}

img#cargandoGif{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

img#cajaVacia{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    opacity: 0.8;
}

h2{
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: large;
}

h4{
    font-size:small;
    font-weight: bold;
}

h2.loading,.bsTitle{
    display: block;
    font-size: 2.6em;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

@media only screen and (min-width: 800px){
    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px){
    div.pacientContainer{
        width: 42%;
    }

    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
    
    h3{
        font-size: larger;
    }
}

@media only screen and (max-width: 550px){
    div.pacientContainer{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
    }

    div.information{
        padding-top: 1px;
        padding-left: 15px;
    }
    
    h4{
        font-size:small;
    }
    
    h3{
        font-size: x-large;
    }

    button#off{
        font-size: large;
    }
}