*{
    box-sizing: border-box;
}

section {
    overflow: scroll;
    scrollbar-width:auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

div.loadingState,.blankspace{
    width: 100%;
    height: 100%;
}

div.listContainer{
    justify-content: center;
    align-items: center;
}

div.pacientContainer{
    width: 21%;
    margin: 1%;
    background-image:url('../../../assets/img/camilla.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    border-radius: 9px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
    padding-top: 0;
}

div.information{
    padding: 0% 8% 5% 8%;
    position: relative;
    display: inline-block;
    background-color: #C4F2A0;  
    border-radius: 0 0 9px 9px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    color: darkgreen;
}

div.title{
    width: 100%;
    height: 100%;
    background-color: green;
    padding-top: 25px;
    padding-left: 17px;
    padding-bottom: 8px;
    border-radius: 9px 9px 0px 0px;
    opacity: 0.8;
}

table{
    width: 100%;
    border-spacing: 10px;
    font-size:x-small;
    font-weight: bold;
}

img#cargandoGif{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

img#cajaVacia{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    opacity: 0.8;
}

h2{
    font-size: larger;
    font-weight: bold;
    margin: 0;
}

h3{
    font-size: large;
}

h2.loading,.bsTitle{
    display: block;
    font-size: 2.6em;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

@media only screen and (min-width: 800px){
    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px){
    div.pacientContainer{
        width: 42%;
    }

    div.listContainer{
        display: flex;
        flex-wrap: wrap;
    }
    
    h2{
        font-size: larger;
    }
    
    h3{
        font-size: larger;
    }
}

@media only screen and (max-width: 550px){
    div.pacientContainer{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 18px;
    }

    div.information{
        padding-top: 1px;
        padding-left: 15px;
    }
    
    table{
        border-spacing: 5px;
        font-size:medium;
    }

    h2{
        font-size: x-large;
    }
    
    h3{
        font-size: x-large;
    }
}