<section class="loadingState" >
        <div class="loadingState" *ngIf="loading; else loaded">
            <h2 class="loading">Cargando datos...</h2>
            <img id="cargandoGif" src="assets/gif/cargando.gif" alt="cargando">
        </div>
        <ng-template #loaded class="ready">
            <div class="listContainer" *ngIf="!blankspace">
                <div class="pacientContainer" *ngFor="let pacient of arregloPacientes" (click)="showDetails(pacient.id_ingreso)">
                    <div class="title"><h2>Habitación {{pacient.nombre_habitacion}}</h2></div>
                    <div class="information">
                        <div class="name">
                            <h3>{{pacient.nombres}} {{pacient.apellidos}}</h3><br>
                        </div>
                        <div class="sensorList">
                            <div class="sensorContainer">
                                <h4>Oxigenación: <span class="sensorContent">{{pacient.oxig}}</span></h4>
                                <h4>Frecuencia cardíaca: <span class="sensorContent">{{pacient.freqCard}}</span></h4>
                                <h4>P. A. Sistólica: <span class="sensorContent">{{pacient.presArtsist}}</span></h4>
                                <h4>P. A. Diastólico: <span class="sensorContent">{{pacient.presArtdiast}}</span></h4>
                                <h4>Temperatura corporal: <span class="sensorContent">{{pacient.tempCorp}}</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="blankspace" *ngIf="blankspace">
                <h2 class="bsTitle">No tiene pacientes asignados en este momento</h2>
                <img id="cajaVacia" src="assets/icon/caja.png" alt="vacío">
            </div>
        </ng-template>
</section>
