*{
    box-sizing: border-box;
}




main {
    width: 100%;
    height: 100%;
}




section.user{
    width: 25%;
    height: 100%;
    min-height: 500px;
    position: fixed;
    right: 0;
    background-color: #679C5A;
}

div.userIcon{
    width: 100%;
    height: 36%;
    text-align: center;
    font-size: 150px;
    margin-top: 4%;
    color: rgba(255, 255, 255, 0.9);
}

div.userInfo{
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.9);
}

div.exit{
    width: 100%;
    height: 16%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 100px;
}

button.exit{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 650px){
    section{
        width: 60%;
    }

    div.userIcon{
        height: 25%;
        font-size: 130px;
        margin-top: 10%;
    }

    div.userInfo{
        height: 55%;
        font-size: 28px;
        font-weight: bold;
    }

    div.exit{
        height: 10%;
        font-size: 100px;

    }
}




section.header{
    position: relative;
    width: 100%;
    height: 95px;    
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.header div{
    display: inline;
    float: left;
}

div#headerLogo{
    width: 300px;
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

div.userDiv{
    position: absolute;
    width: 130px;
    height: 100%;
    right: 0;
}

div.smmi{
    width: 210px;
    height: 100%;
    text-align: center;
    padding: 10%;
}

img.headerLogo{
    width: 90px;
    height: 90px;
    float: left;
    border-radius: 50%;
}

h1{
    float: left;
    width: 60%;
    font-size:xx-large;
    font-weight: bold;
    margin-top: 0;
}

button.userButton{
    width: 100%;
    height: 100%;
    color: #336D5F;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 80px;
    float: right;
}





@media only screen and (max-width: 600px){
    section.header{
        height: 70px;
    }

    div.logo{
        width: 150px;
        margin-left: 10px;
    }

    div.user{
        width: 80px;
    }

    div.smmi{
        width: 85px;
        padding-left: 3%;
        padding-top: 25px;
        float: right;
    }

    h1{
        font-size: large
    }

    img{
        margin-top: 5px;
        width: 60px;
        height: 60px;
    }

    button.userButton{
        font-size: 50px;
    }
}




section.login{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
    background-color: #4A6B45;
}

div.formContainer{
    width: 370px;
    height: 520px;
    margin: auto;
    background-color: #dad9f7;
    border-radius: 3.5%;
}

#loginLogo{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

#formLogo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

form{
    padding-left: 10px;
}

input{
    width: 60%;
    height: 30px;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px 0.2px;
}

label{
    width: fit-content;
    display: block;
    margin: auto;
    font-size: x-large;
}

input.loginButton{
    width: 40%;
    height: 40px;
    background-color: #679C5A;
    color: white;
    font-size: large;
}

@media only screen and (max-width: 600px){
    div.formContainer{
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        border-radius: 15px
    }

    input{
        width: 80%;
        margin-bottom: 10px;
    }
    
    label{
        font-weight: lighter;
    }
    
    input.loginButton{
        width: 50%;
        height: 50px;
        margin-top: 20px;
    }
}