*{
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100%;
}

div.detailsContainer{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 20px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

div.header{
    text-align: center;
    width: 100%;
    min-height: 45px;
    background-color: #20A100;
    padding-top: 1.5%;
    border-radius: 15px 15px 0px 0px;
}

div.information{
    width: 100%;
    padding: 5%;
    padding-bottom: 1%;
}

div.graphics{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    padding-top: 1%;
}

div.graphics div{
    width: 50%;
}

div.buttons{
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

span{
    color: #20A100;
}

p{
    display: inline-block;
    width: 48%;
    height: auto;
}

p.age, .allergies{
    float: right;
}

p.suffering, .cause, .specialty{
    width: 100%;
}

button{
    width: 30%;
    height: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #679C5A;
}

h2{
    margin: 0;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

h3{
    font-size: large;
}

@media only screen and (max-width: 800px){
    div.detailsContainer{
        width: 65%;
    }
}

@media only screen and (max-width: 650px){
    div.detailsContainer{
        width: 80%;
    }
}