<section class="user" (mouseleave)="closeTab()">
    <div class="userIcon">
        <img src="{{ enfermera.foto }}" alt="foto">
    </div>
    <div class="userInfo">
        <h2>Enfermera</h2>
        <p>{{ enfermera.nombre }}</p>
        <h2>Matrícula</h2>
        <p>{{ enfermera.matricula }}</p>
        <h2>Teléfono</h2>
        <p>{{ enfermera.telefono }}</p>
        <br>
    </div>
    <div class="exit">
        <button (click)="exit()" class="exit">
            <i class="fa fa-arrow-circle-left"></i>
        </button>
    </div>
  </section>
