*{
    box-sizing: border-box;
}

section.user{
    width: 25%;
    height: 100%;
    min-height: 500px;
    position: fixed;
    right: 0;
    background-color: #679C5A;
    z-index: 3;
}

div.userIcon{
    width: 100%;
    height: 36%;
    text-align: center;
    font-size: 150px;
    margin-top: 4%;
    color: rgba(255, 255, 255, 0.9);
}

div.userInfo{
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.9);
}

div.exit{
    width: 100%;
    height: 16%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 100px;
}

button.exit{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 650px){
    section{
        width: 60%;
    }

    div.userIcon{
        height: 25%;
        font-size: 130px;
        margin-top: 10%;
    }

    div.userInfo{
        height: 55%;
        font-size: 28px;
        font-weight: bold;
    }

    div.exit{
        height: 10%;
        font-size: 100px;

    }
}