*{
    box-sizing: border-box;
}

section.user{
    width: 22%;
    height: 100%;
    min-height: 500px;
    position: fixed;
    right: 0;
    background-color: darkgreen;
    z-index: 3;
    opacity: 0.85;
}

div.userIcon{
    width: fit-content;
    height: 30%;
    text-align: center;
    font-size: 110px;
    padding-top: 15%;
    padding-bottom: auto;
    color: rgba(255, 255, 255, 0.9);
    margin: auto;
}

div.userInfo{
    width: 100%;
    height: 30%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

div.exit{
    width: 100%;
    height: 10%;
    margin-bottom: 30%;
    text-align: center;
    font-size: 80px;
    position: absolute;
    bottom: 0;
}

button.exit{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.9);
}

h2{
    font-size: 1.6em;
    font-weight: bolder;
}

p{
    font-size: 1.2em;
}

#pro{
    font-size: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 650px){
    section{
        width: 60%;
    }

    div.userIcon{
        height: 25%;
        font-size: 130px;
        margin-top: 10%;
    }

    div.userInfo{
        height: 55%;
        font-size: 28px;
        font-weight: bold;
    }

    div.exit{
        height: 10%;
        font-size: 100px;

    }
}